/* THIS CSS FILE HAS ANY EXTRA THINGS WE WANT TO ADD ON TOP OF BOOTSTRAP */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.buffer-bottom {
  margin-bottom: 40px;
}

.client {
  background-image: linear-gradient(
    to right,
    white,
    hsla(50, 96%, 43%, 1),
    white
  );
  padding: 20px 0;
}

.wordbackground {
  background-color: white;
  padding: 20px 0;
  /* width: 37rem; */
  /* height: 14rem; */
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
